{% set switch_details = hostvars[inventory_hostname] %}

# Loopback interface
auto lo
iface lo inet loopback
  address {{ switch_details.lo.ipv4 }}/32
  alias loopback interface

# Management interface
auto eth0
iface eth0
  vrf mgmt
  address {{ switch_details.eth0.ipv4 }}
  gateway {{ switch_details.eth0.ipv4_gateway }}

auto mgmt
iface mgmt
    address 127.0.0.1/8
    vrf-table auto

{% for interface in switch_details.interfaces %}
{% set interface_vars = switch_details.interfaces[interface] %}

# Connects to {{ interface_vars.description }}
auto {{ interface }}
iface {{ interface }}
  alias to {{ interface_vars.description }}
  {% if interface_vars.access_port is defined %}
  bridge-access {{ interface_vars.vlan}}
  {% endif %}
{% endfor %}

{% if switch_details.bridge.enabled is defined %}
# Bridge configuration
auto bridge
iface bridge
    bridge-vlan-aware yes
    bridge-ports {{ switch_details.bridge.bridge_ports }}
    bridge-vids {{ switch_details.bridge.bridge_vids }}
    bridge-pvid 1
{% endif %}
