{% set switch = devices[inventory_hostname] %}
{% set profile = profiles[devices[inventory_hostname].profile]}
# Loopback interface
auto lo
iface lo inet loopback
  address {{ switch.lo.ipv4 }}/32
  alias loopback interface

auto eth0
iface eth0
{% if switch.mgmt is defined %}
  vrf mgmt
{% endif %}
  address {{ switch.eth0.ipv4 }}
  gateway {{ switch.eth0.ipv4_gateway }}

{% if switch.mgmt is defined %}
auto mgmt
iface mgmt
    address 127.0.0.1/8
    vrf-table auto
{% endif %}

{% for interface in profile.interfaces %}
{% set intvars = profile.interfaces[interface] %}
# Port to {{ profile.interfaces[interface].description }}
auto {{ interface }}
iface {{ interface }}
  alias to {{ intvars.description }}

{% endfor %}